//   This file is part of the svclib library, licensed under the terms of the MIT License.
//
//   The MIT License
//   Copyright (C) 2015  Augustin Preda (thegusty999@gmail.com)
//
//   Permission is hereby granted, free of charge, to any person obtaining a copy
//   of this software and associated documentation files (the "Software"), to deal
//   in the Software without restriction, including without limitation the rights
//   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
//   copies of the Software, and to permit persons to whom the Software is
//   furnished to do so, subject to the following conditions:
//
//   The above copyright notice and this permission notice shall be included in
//   all copies or substantial portions of the Software.
//
//   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
//   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
//   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
//   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
//   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
//   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
//   THE SOFTWARE.

//
// Add use of the version.
//
#include "../include/svclib/version.hpp"

//
// Version information requires inclusion of either <windows.h> or <winver.h>
//
#include <WinVer.h>

//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION SVCLIB_NUM_MAJOR_VER_SIMPLE,SVCLIB_NUM_MINOR_VER_SIMPLE,SVCLIB_NUM_PATCH_VER_SIMPLE,0
 PRODUCTVERSION SVCLIB_NUM_MAJOR_VER_SIMPLE,SVCLIB_NUM_MINOR_VER_SIMPLE,SVCLIB_NUM_PATCH_VER_SIMPLE,0
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "Augustin Preda"
            VALUE "FileDescription", "svclib - service library"
            VALUE "FileVersion", SVCLIB_STR_FILE_VERSION
            VALUE "InternalName", "svclib"
            VALUE "LegalCopyright", "Copyright (C) 2015"
            VALUE "OriginalFilename", "svclib.dll"
            VALUE "ProductName", "Service Library"
            VALUE "ProductVersion", SVCLIB_STR_PROD_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

